body {
  background: linear-gradient(blue, pink);
  font-family: "Times New Roman";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#container {
  width: 276px;
  height: 420px;
  padding: 8px 8px 20px 8px;
  margin: 20px auto;
  background-color: #494747;
  border-radius: 4px;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #C1C1C1;
  border-left: 2px solid #C1C1C1;
  box-shadow: -3px 3px 7px rgba(0, 0, 0, .6), inset -100px 0px 100px rgba(255, 255, 255, .5);
}

#display {
  display: block;
  margin: 15px auto;
  height: 55px;
  width: 230px;
  padding: 0 10px;
  border-radius: 4px;
  border-top: 2px solid #211c1c;
  border-right: 2px solid #211c1c;
  border-bottom: 2px solid #040303;
  border-left: 2px solid #040303;
  background-color: #b3ffe5;
  box-shadow: inset 0px 0px 10px #030303, inset 0px -20px 1px rgba(75, 75, 75, 0.2);
  font-size: 28px;
  color: #000000;
  text-align: right;
  font-weight: 400;
}

.button {
  display: inline-block;
  margin: 2px;
  width: 61px;
  height: 61px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 2px;
}

.mathButtons {
  margin: 2px 2px 6px 2px;
  color: #FFF;
  text-shadow: -1px -1px 0px #44006F;
  background-color: #434343;
  border-top: 2px solid #C1C1C1;
  border-right: 2px solid #C1C1C1;
  border-bottom: 2px solid #181818;
  border-left: 2px solid #181818;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #2E2E2E;
}

.digits {
  color: #181818;
  text-shadow: 1px 1px 0px #FFF;
  background-color: #EBEBEB;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #C1C1C1;
  border-left: 2px solid #C1C1C1;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #DCDCDC;
}

#clearButton {
  color: #FFF;
  text-shadow: -1px -1px 0px #44006F;
  background-color: #515151;
  border-top: 2px solid #878686;
  border-right: 2px solid #878686;
  border-bottom: 2px solid #3c3939;
  border-left: 2px solid #3c3939;
  box-shadow: 0px 0px 2px #030303, inset 0px -20px 1px #5c5c5c;
}

.digits:hover,
.mathButtons:hover,
#clearButton:hover{
  background-color: #787676;
  box-shadow: 0px 0px 2px #7a7671, inset 0px -20px 1px #686561;
  border-top: 2px solid #FFF;
  border-right: 2px solid #FFF;
  border-bottom: 2px solid #000000;
  border-left: 2px solid #000000;
}
